.df{ 
    margin-left: 600px;
    margin-top: 30px;
}
nav{
    background-color: rgb(6, 6, 83);
    color: white;
    height: 40%;
    width: 70%;
    margin-left: 20%;
    
}
.gh{
    margin-left: 300px;
    
}
.mn{
margin-left: 500PX;
margin-top: -40px;
}
.ss{
    margin-left: 800px;
    margin-top: -40px;
}
#ee{
    font-size: 100px;
    margin-left: 300px;
    margin-top: 30px;
 
}
button{
    background-color: rgb(5, 5, 73);
    color: white;
}
h2{
    color: black;
   
    
}
h1{
    margin-top: 10px; 
    margin-left: -100%;
}
P1{
    margin-left: -100%;
}
#dd{
    border: 1px solid grey;
    width: 700px;
    height: 200px;
    margin-left: 360px;
    background-color: whitesmoke;
    margin-top: -100;
}
body{
    background-color: grey;
}











